@import 'tailwindcss';

.card-layanan {
    @apply bg-white rounded-xl shadow-md w-[420px] overflow-hidden cursor-pointer transition-all duration-300;
}
.card-layanan:hover {
    @apply -translate-y-2 shadow-xl;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
